<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Show message</title>
</head>
<body>
  <h2>シングル一覧</h2>
  <table border="1">
    <tr>
      <th>ID </th>
      <th>シングル名　</th>
      <th>リリース日　</th>
      <th>曲数　</th>
    </tr>
      <% for( let row of data ) { %>
        <tr>
            <td><a href="/single/<%=row.id%>"><%= row.id%></a></td>
            <td><%= row.name %></td>
            <td><%= row.releaseday %></td>
            <td><%= row.quantity %></td>
        </tr>
      <% } %>
  </table>
</body>
</html>